<%
function UserFunctionInDrawingContext()
{
  alert('Calling function in global context. Even phoxy object functions (stored in phoxy.js, like phoxy.DeferRender)');
}
UserFunctionInDrawingContext();
%>
<div style="color: blue;"><%= escaped %><%= unescaped %></div>
